:root{
    --teal: #076585;
    --white: #fff;
    --dk-gray: #222;
    
    --heading-fonts: 'lulo-one', 'noka', sans-serif;
    --body-fonts: 'noka', 'lulo-one', sans-serif;
}

body {
    font-family: var(--body-fonts);
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 1.5;
}

header, main,footer{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

header{
   display: block;
   justify-content: left;
    
}

h1{
    display: flex;
    text-align: left;
    font-size: 2.2rem;
}

h1 a{
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

nav{
    width: 75%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    justify-content: right;
    padding: 2rem 1rem;
}

nav a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.35rem;
}

nav a:hover{
    color: var(--dk-gray);
}

main{
    padding: 20px;
    text-align: center;
    max-width: 60ch;
    
}

main img{
    display: flex;
    float: left;
    position:relative;
}

main > p{
    float: right;
}

form{
    margin: 0 auto;
    padding: 16px;
}

input, label, select, textarea{
    display: block;
    width: 100%;
    align-items: center;
}

footer{
    display: block;
    margin: 0 auto;
}

body{font-family:var(--body-fonts);}h1 a,nav ul{color:var(--white);}body{background:#076585;}body{background:-webkit-linear-gradient(to top,#fff,#076585);}body{background:linear-gradient(to top,#fff,#076585);}body{line-height:1.5;}header,footer,main,h1 a{text-align:center;}footer,main,form,footer,nav,header{margin-left:auto;}h1 a,nav ul{text-decoration:none;}main,header,footer,form,nav,footer{margin-bottom:0;}footer,nav,form,footer,main,header{margin-right:auto;}nav,form,footer,header,footer,main{margin-top:0;}nav ul{display:flex;}nav ul{gap:1rem;}:root{--teal:#076585;}nav ul{list-style-type:none;}header,footer,main,input{align-items:center;}nav ul{justify-content:right;}header{display:block;}header{justify-content:left;}main img,h1{display:flex;}nav ul{padding-left:1rem;}h1{text-align:left;}:root{--white:#fff;}h1{font-size:2.2rem;}nav ul{padding-bottom:2rem;}nav{width:75%;}main{padding-left:15pt;}main{padding-bottom:15pt;}main{padding-right:15pt;}main{padding-top:15pt;}main{text-align:center;}main{max-width:60ch;}nav ul{padding-right:1rem;}form{padding-left:.166666667in;}form{padding-bottom:.166666667in;}form{padding-right:.166666667in;}form{padding-top:.166666667in;}select,footer,input,label,textarea{display:block;}select,label,textarea,input{width:100%;}nav a:hover{color:var(--dk-gray);}:root{--dk-gray:#222;}nav ul{padding-top:2rem;}nav a{color:var(--white);}select,label,textarea{align-items:center;}nav a{text-decoration:none;}nav a{font-size:1.35rem;}:root{--heading-fonts:"lulo-one","noka",sans-serif;}main img{float:left;}main img{position:relative;}:root{--body-fonts:"noka","lulo-one",sans-serif;}main > p{float:right;}